<h1>@<%= @user.username %>'s Profile &amp Tweets</h1>
<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>

<p>
	<% if current_user.following.include?(@user.id) %>
		

		<%= link_to "Following", unfollow_path(id: @user.id), class: "btn btn-info", id: "unfollow-btn" %>


	<% else %>
		<%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
	<% end %>
</p>

<div class="row">
	<% @user.tweets.each do |tweet| %>
		<div class="col-md-12">
			<div class="well">
			 <p><strong><%= tweet.user.name %></strong> @<%= tweet.user.username %></p>
			 <p><%= tweet.message %></p>
			</div>
		</div>
	<% end %>
</div>